{% extends 'base.html' %}
{% load  staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="container">




        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
{#                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}

                    {% for object in latest_posts %}
                         <li><a href=" {% url 'MainApp:detail' object.id %}">{{ object.title|title }} ({{ object.timestamp|timesince }} before)</a></li>
                    {% endfor %}
                <li><a href="/all/">View All</a></li>

                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">
                    Paste Way
                    <small>an ultra minimal <kbd>ctl+v</kbd></small>
                </h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" id="faded" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}




                </br>
                <hr>

                </br>







                <footer>
                    <p> Created by <a href="http://github.com/tomvictor" target="_blank">Tom Victor</a>.</p>
                </footer>

            </div>
        </div>


    </div>


{% endblock %}

{% block extrascripts %}

    <!-- javascript -->
		<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

{% endblock %}



