{% extends 'base.html' %}
{% load  staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="container">




        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
{#                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}

                    {% for object in latest_posts %}
                         <li><a href=" {% url 'MainApp:detail' object.slug %}">{{ object.title|title }} ({{ object.timestamp|timesince }} before)</a></li>
                    {% endfor %}
                <li><a href="/all/">View All</a></li>

                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" id="faded" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}



             <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ thisPost.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">{{ thisPost.writer.first_name }}</a>
                </p>


                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ thisPost.timestamp }}</p>

                <hr>

                <!-- Preview Image -->
                            {% if  thisPost.image %}
                    <img class="img-responsive" src="{{ thisPost.image.url }}" alt="">
                  <hr>
                {% endif %}



                <!-- Post Content -->
             {{ thisPost.content|safe|escape }}
{#                <hr>#}

             {% if  thisPost.files %}
                    <h4><a href="{{ thisPost.files.url }}" target="_blank">
                        View Attachements
                    </a></h4>
                  <hr>
                {% endif %}

                <!-- Blog Comments -->

{#                <a href="{{ thisPost.get_absolute_url }}">#}
{#                     <h1>{{ thisPost.get_absolute_url }}</h1>#}
{#                </a>#}


            <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                     var disqus_config = function () {
                         var  canurl = "http://pasteway.com{{ thisPost.get_absolute_url }}" ;
                     this.page.url = canurl;  // Replace PAGE_URL with your page's canonical URL variable
                     this.page.identifier = "{{ thisPost.slug }}" ; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                     };
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://pasteway.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by Pasteway.</a></noscript>



{#                <!-- Comments Form -->#}
{#                <div class="well">#}
{#                    <h4>Leave a Comment:</h4>#}
{#                    <form role="form">#}
{#                        <div class="form-group">#}
{#                            <textarea class="form-control" rows="3"></textarea>#}
{#                        </div>#}
{#                        <button type="submit" class="btn btn-primary">Submit</button>#}
{#                    </form>#}
{#                </div>#}
{##}
{#                <hr>#}

{#                <!-- Posted Comments -->#}
{##}
{#                <!-- Comment -->#}
{#                <div class="media">#}
{#                    <a class="pull-left" href="#">#}
{#                        <img class="media-object" src="http://placehold.it/64x64" alt="">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <h4 class="media-heading">Start Bootstrap#}
{#                            <small>August 25, 2014 at 9:30 PM</small>#}
{#                        </h4>#}
{#                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <!-- Comment -->#}
{#                <div class="media">#}
{#                    <a class="pull-left" href="#">#}
{#                        <img class="media-object" src="http://placehold.it/64x64" alt="">#}
{#                    </a>#}
{#                    <div class="media-body">#}
{#                        <h4 class="media-heading">Start Bootstrap#}
{#                            <small>August 25, 2014 at 9:30 PM</small>#}
{#                        </h4>#}
{#                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                        <!-- Nested Comment -->#}
{#                        <div class="media">#}
{#                            <a class="pull-left" href="#">#}
{#                                <img class="media-object" src="http://placehold.it/64x64" alt="">#}
{#                            </a>#}
{#                            <div class="media-body">#}
{#                                <h4 class="media-heading">Nested Start Bootstrap#}
{#                                    <small>August 25, 2014 at 9:30 PM</small>#}
{#                                </h4>#}
{#                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- End Nested Comment -->#}
{#                    </div>#}
{#                </div>#}
{##}


                </br>
                <hr>

                </br>


                <footer>
                    <p> Created by <a href="http://github.com/tomvictor" target="_blank">Tom Victor</a>.</p>
                </footer>

            </div>
        </div>


    </div>


{% endblock %}

{% block extrascripts %}

    <!-- javascript -->
		<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

{% endblock %}



