{% extends 'base.html' %}
{% load  staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
{#                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}

                    {% for object in latest_posts %}
                         <li><a href="#">{{ object.title|title }} ({{ object.timestamp|timesince }} before)</a></li>
                    {% endfor %}

                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">
                    Paste Way
                    <small>an ultra minimal <kbd>ctl+v</kbd></small>
                </h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" id="faded" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="row ">
                    <form role="form" action="/postformhandle/" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <button class="btn btn-lg btn-success " type="submit">Submit</button>
                    </form>

                </div>

                </br>
                <hr>

                </br>


            {% for post in all_posts %}
              <!-- First Blog Post -->
                <h2>
                    <a href="#">{{ post.title|capfirst }}</a>
                </h2>
                <p class="lead">
                    by <a href="#">{{ post.writer.first_name }}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.timestamp }}</p>
                <hr>
                {% if  post.image %}
                    <img class="img-responsive" src="{{ post.image.url }}" alt="">
                  <hr>
                {% endif %}

                <p>{{ post.content }}</p>
                <a class="btn btn-primary" href="#">Read More <span
                        class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

            {% endfor %}




                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>


                <hr>
                <footer>
                    <p>&copy; 2016 Technorip, Inc.</p>
                </footer>

            </div>
        </div>


    </div>


{% endblock %}

{% block extrascripts %}

    <!-- javascript -->
		<script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugin/tinymce/init-tinymce.js' %}"></script>

{% endblock %}



