{% extends 'base.html' %}
{% load  staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'datatable/dataTables.bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <div class="container">


        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {#                    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}

                    {% for object in latest_posts %}
                        <li><a href=" {% url 'MainApp:detail' object.slug %} ">{{ object.title|title }}
                            ({{ object.timestamp|timesince }} before)</a></li>
                    {% endfor %}

                    <li><a href="/all/">View All</a></li>
                </ul>


            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h1 class="page-header">
                    Paste Way
                    <small>an ultra minimal <kbd>ctl+v</kbd></small>
                </h1>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible" id="faded" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- First Blog Post -->
             <div id="posts">
            {% for object in latest_posts %}
                    <h2>
                        <a href="{% url 'MainApp:detail' object.slug %}"> {{ object.title|title }} </a>
                    </h2>

                    <p><span class="glyphicon glyphicon-time"></span> {{ object.timestamp|timesince }}</p>

                {{ object.content|safe|escape }}

                    <hr>

                    {% endfor %}

                </div>

                <center>
                    <p id="loading">
                    <img src="{% static "Loading_icon.gif" %}" alt="Loading…"/>
                </p>
                </center>



                {#            {% for post in custom_objects %}#}
                {#              <!-- First Blog Post -->#}
                {#                <h2>#}
                {#                    <a href="#">{{ post.title|capfirst }}</a>#}
                {#                </h2>#}
                {#                <p class="lead">#}
                {#                    by <a href="#">{{ post.writer.first_name }}</a>#}
                {#                </p>#}
                {#                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.timestamp }}</p>#}
                {#                <hr>#}
                {#                {% if  post.image %}#}
                {#                    <img class="img-responsive" src="{{ post.image.url }}" alt="">#}
                {#                  <hr>#}
                {#                {% endif %}#}
                {##}
                {#                <p>{{ post.content|safe|escape }}</p>#}
                {#                <a class="btn btn-primary" href="#">Read More <span#}
                {#                        class="glyphicon glyphicon-chevron-right"></span></a>#}
                {##}
                {#                <hr>#}
                {##}
                {#            {% endfor %}#}


                {##}
                {#                <!-- Pager -->#}
                {#                <ul class="pager">#}
                {#                    <li class="previous">#}
                {#                        <a href="#">&larr; Older</a>#}
                {#                    </li>#}
                {#                    <li class="next">#}
                {#                        <a href="#">Newer &rarr;</a>#}
                {#                    </li>#}
                {#                </ul>#}


                <footer>
                    <p> Created by <a href="http://github.com/tomvictor" target="_blank">Tom Victor</a>.</p>
                </footer>

            </div>
        </div>


    </div>


{% endblock %}

{% block extrascripts %}



    <!-- javascript -->
    <script>
        $(document).ready(function () {
            var win = $(window);
            var nextpage = "http://pasteway.com/api/?page=4";

            // Each time the user scrolls
            win.scroll(function () {
                // End of the document reached?
                if ($(document).height() - win.height() == win.scrollTop()) {
                    $('#loading').show();

                    // Uncomment this AJAX call to test it

                    $.ajax({
                        url: nextpage,
                        dataType: 'json',
                        success: function (html) {
                            console.log("insucces function");
                            console.log(html);
                            nextpage = html.next;
                            console.log(html.results);
                            {#                            $('#posts').append(html);#}
                            {#                     $('#loading').hide();#}


                            var post = '<br>';

                            for (count = 0; count < 3; count++) {
                                post += '<h2><a href="/';
                                post += html.results[count].slug;
                                post += '">';
                                post += html.results[count].title;
                                post += '</a></h2><p><span class="glyphicon glyphicon-time"></span> Posted on';
                                post += html.results[count].timestamp;
                                post += '</p>';
                                post += html.results[count].content;
                                post += '<hr>';
                            }


                            $('#posts').append(post);

                            $('#loading').hide();


                        }
                    });

                }
            });
        });


    </script>


{% endblock %}



